src/test/resources/schema/circuitschema.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ergast.com/mrd/1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MRData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CircuitTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Circuit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CircuitName" type="xs:string" />
                    <xs:element name="Location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Locality" type="xs:string" />
                          <xs:element name="Country" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="lat" type="xs:decimal" use="required" />
                        <xs:attribute name="long" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="circuitId" type="xs:string" use="required" />
                  <xs:attribute name="url" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="season" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="series" type="xs:string" use="required" />
      <xs:attribute name="url" type="xs:string" use="required" />
      <xs:attribute name="limit" type="xs:unsignedByte" use="required" />
      <xs:attribute name="offset" type="xs:unsignedByte" use="required" />
      <xs:attribute name="total" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>